* {
    transition: all 0.3s ease-in-out;
}

.doctor_dhh_1_0_0 {
    background: url(../images/doctor-bg.jpg) center 0 no-repeat;
    background-size: cover;
    min-height: auto;
    padding: 30px 0;
    &__title {
        font-size: 25px;
        color: #033e8f;
        font-weight: bold;
        text-align: center;
    }
    &__box {
        padding: 20px 100px;
        border: 2px solid #054b94;
        border-radius: 10px;
        display: flex;
        background-color: white;
        align-items: center;
        gap: 40px;
        margin-top: 15px;
    }
    &__avatar {
        width: 30%;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &__info {
        width: 70%;
    }
    &__doctor {
        p {
            font-size: 18px;
            color: red;
            font-weight: 500;
            margin: 0;
        }
    }
    &__name {
        font-size: 20px;
        font-weight: bold;
        color: #054b94;
        margin: 0;
    }
    ul {
        padding: 0;
        list-style: none;
        li {
            color: #054b94;
        }
    }
    &__list {
        display: flex;
        margin-top: 20px;
        gap: 20px;
        justify-content: center;
    }
    &__item {
        width: 12%;
        cursor: pointer;
        img {
            width: 100%;
            border-radius: 100%;
            border: 2px solid white;
            height: auto;
            display: block;
        }
    }
    &__item.active {
        img {
            border: 2px solid;
            border-radius: 100%;
        }
    }
    @media (max-width: 1024px) {
        &__avatar {
            width: 36%;
        }
    }
    @media (max-width: 820px) {
        &__box {
            padding: 20px 20px;
        }
        &__title {
            font-size: 28px;
        }
    }
    @media (max-width: 768px) {
        &__avatar {
            width: 45%;
        }
    }
    @media (max-width: 767px) {
        &__box {
            flex-direction: column;
            padding: 15px;
            gap: 15px;
        }
        &__avatar {
            width: 100%;
            max-width: 320px;
            margin: 0 auto;
        }
        &__info {
            width: 100%;
        }
        &__inner {
            display: flex;
            flex-direction: column-reverse;
        }
        &__list {
            gap: 10px;
        }
        &__item {
            width: 18%;
        }
    }
    @media (max-width: 428px) {
        padding: 20px 0;
        &__title {
            font-size: 17px;
        }
        &__list {
            flex-wrap: wrap;
            margin-top: 10px;
            justify-content: center;
        }
        &__box {
            margin-top: 15px;
        }
        &__name {
            font-size: 16px;
            margin: 0;
        }
    }
    @media (max-width: 320px) {
        &__title {
            font-size: 20px;
        }
    }
}