@import "customer_ytb";
* {
    transition: all 0.3s ease-in-out;
}

.customer_dhh_1_0_0 {
    padding: 30px 0;
    &__title {
        text-align: center;
        p {
            font-size: 25px;
            color: #033e8f;
            font-weight: bold;
        }
        span {
            color: #033e8f;
            font-weight: 500;
        }
    }
    &__box {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 20px;
    }
    &__item.active {
        background-color: #00bcfe;
    }
    &__item {
        background-color: #9ce5ff;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 33%;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
        p {
            font-size: 14px;
            margin: 0;
            color: #033e8f;
            font-weight: 600;
        }
        span {
            font-size: 18px;
        }
    }
    &__client {
        display: flex;
        margin-top: 20px;
        gap: 20px;
        align-items: center;
    }
    &__left {
        width: 55%;
        position: relative;
        opacity: 0.8;
        // z-index: 100;
        img {
            width: 100%;
            cursor: pointer;
            height: auto;
            display: block;
        }
    }
    &__left:hover {
        opacity: 1;
    }
    &__video {
        width: 15% !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__right {
        width: 45%;
        text-align: center;
    }
    &__list {
        display: flex;
        gap: 5px;
        align-items: flex-start;
        img {
            width: 49%;
            height: auto;
            display: block;
        }
    }
    &__demo {
        display: flex;
        gap: 15px;
        justify-content: center;
        img {
            width: 38%;
            height: auto;
        }
    }
    &__name {
        font-size: 20px;
        font-weight: bold;
        color: #033e8f;
        padding-bottom: 10px;
        border-bottom: 2px dashed #9ce5ff;
        margin: 0;
    }
    &__more {
        margin-top: 10px;
        color: #286ba6;
    }
    &__service {
        color: #033e8f;
        font-weight: bold;
    }
    ul {
        // padding: 0;
        text-align: initial;
        b {
            color: #033e8f;
        }
        li {
            color: #286ba6;
            font-size: 18px;
        }
    }
    @media (max-width: 1180px) {
        &__left {
            width: 59%;
        }
        &__box {
            flex-wrap: wrap;
        }
        &__item {
            width: 40%;
        }
    }
    @media (max-width: 820px) {
        &__left {
            width: 53%;
        }
        &__title {
            span {
                font-size: 15px;
            }
        }
        &__item {
            width: 48%;
        }
        &__name {
            font-size: 18px;
        }
    }
    @media (max-width: 768px) {
        &__title {
            span {
                br {
                    display: none;
                }
            }
        }
        &__item {
            p {
                font-size: 14px;
            }
        }
    }
    @media (max-width: 767px) {
        padding: 20px 0;
        &__box {
            gap: 10px;
            margin-top: 10px;
        }
        &__name {
            font-size: 17px;
        }
        &__title {
            p {
                font-size: 18px;
            }
        }
        &__item {
            width: 100%;
        }
        &__client {
            flex-wrap: wrap;
            gap: 15px
        }
        &__left {
            width: 100%;
        }
        &__right {
            width: 100%;
            ul li {
                font-size: 14px;
            }
        }
    }
    @media (max-width: 375px) {
        &__title {
            p {
                font-size: 17px;
            }
        }
    }
    @media (max-width: 320px) {
        &__item {
            p {
                font-size: 13px;
            }
        }
    }
}