.customer_dhh_1_0_0__ytbModal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  overflow: auto;
  -webkit-animation: opac 0.3s;
          animation: opac 0.3s;
  z-index: 12;
}
.customer_dhh_1_0_0__ytbClose {
  color: #ddd;
  text-shadow: none;
  opacity: 1;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  width: 44px;
  height: 44px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 901;
}
.customer_dhh_1_0_0__ytbBg {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.6s;
}
.customer_dhh_1_0_0__ytbBox {
  position: relative;
  z-index: 900;
  width: 80%;
  margin: 100px auto;
  max-width: 70%;
}
.customer_dhh_1_0_0__ytbVideo iframe {
  width: 100%;
  height: 700px;
}
@media (max-width: 767px) {
  .customer_dhh_1_0_0__ytbBox {
    width: 90%;
    max-width: 100%;
  }
  .customer_dhh_1_0_0__ytbVideo iframe {
    height: 500px;
  }
}

* {
  transition: all 0.3s ease-in-out;
}

.customer_dhh_1_0_0 {
  padding: 30px 0;
}
.customer_dhh_1_0_0__title {
  text-align: center;
}
.customer_dhh_1_0_0__title p {
  font-size: 25px;
  color: #033e8f;
  font-weight: bold;
}
.customer_dhh_1_0_0__title span {
  color: #033e8f;
  font-weight: 500;
}
.customer_dhh_1_0_0__box {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
.customer_dhh_1_0_0__item.active {
  background-color: #00bcfe;
}
.customer_dhh_1_0_0__item {
  background-color: #9ce5ff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 33%;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.customer_dhh_1_0_0__item p {
  font-size: 14px;
  margin: 0;
  color: #033e8f;
  font-weight: 600;
}
.customer_dhh_1_0_0__item span {
  font-size: 18px;
}
.customer_dhh_1_0_0__client {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  align-items: center;
}
.customer_dhh_1_0_0__left {
  width: 55%;
  position: relative;
  opacity: 0.8;
}
.customer_dhh_1_0_0__left img {
  width: 100%;
  cursor: pointer;
  height: auto;
  display: block;
}
.customer_dhh_1_0_0__left:hover {
  opacity: 1;
}
.customer_dhh_1_0_0__video {
  width: 15% !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.customer_dhh_1_0_0__right {
  width: 45%;
  text-align: center;
}
.customer_dhh_1_0_0__list {
  display: flex;
  gap: 5px;
  align-items: flex-start;
}
.customer_dhh_1_0_0__list img {
  width: 49%;
  height: auto;
  display: block;
}
.customer_dhh_1_0_0__demo {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.customer_dhh_1_0_0__demo img {
  width: 38%;
  height: auto;
}
.customer_dhh_1_0_0__name {
  font-size: 20px;
  font-weight: bold;
  color: #033e8f;
  padding-bottom: 10px;
  border-bottom: 2px dashed #9ce5ff;
  margin: 0;
}
.customer_dhh_1_0_0__more {
  margin-top: 10px;
  color: #286ba6;
}
.customer_dhh_1_0_0__service {
  color: #033e8f;
  font-weight: bold;
}
.customer_dhh_1_0_0 ul {
  text-align: initial;
}
.customer_dhh_1_0_0 ul b {
  color: #033e8f;
}
.customer_dhh_1_0_0 ul li {
  color: #286ba6;
  font-size: 18px;
}
@media (max-width: 1180px) {
  .customer_dhh_1_0_0__left {
    width: 59%;
  }
  .customer_dhh_1_0_0__box {
    flex-wrap: wrap;
  }
  .customer_dhh_1_0_0__item {
    width: 40%;
  }
}
@media (max-width: 820px) {
  .customer_dhh_1_0_0__left {
    width: 53%;
  }
  .customer_dhh_1_0_0__title span {
    font-size: 15px;
  }
  .customer_dhh_1_0_0__item {
    width: 48%;
  }
  .customer_dhh_1_0_0__name {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .customer_dhh_1_0_0__title span br {
    display: none;
  }
  .customer_dhh_1_0_0__item p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .customer_dhh_1_0_0 {
    padding: 20px 0;
  }
  .customer_dhh_1_0_0__box {
    gap: 10px;
    margin-top: 10px;
  }
  .customer_dhh_1_0_0__name {
    font-size: 17px;
  }
  .customer_dhh_1_0_0__title p {
    font-size: 18px;
  }
  .customer_dhh_1_0_0__item {
    width: 100%;
  }
  .customer_dhh_1_0_0__client {
    flex-wrap: wrap;
    gap: 15px;
  }
  .customer_dhh_1_0_0__left {
    width: 100%;
  }
  .customer_dhh_1_0_0__right {
    width: 100%;
  }
  .customer_dhh_1_0_0__right ul li {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .customer_dhh_1_0_0__title p {
    font-size: 17px;
  }
}
@media (max-width: 320px) {
  .customer_dhh_1_0_0__item p {
    font-size: 13px;
  }
}/*# sourceMappingURL=customer_dhh_1_0_0.css.map */